.movie-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}
.list-item-perosn{
    display: flex;
    flex-direction: column;
    border-bottom:1px solid black ;
    padding: 1rem;
}
.img-person {
  max-width: 150px;
}
.person{
    padding: 0.5rem;
}

